<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          <span>Client

  </span>
      </div>
      <div class="panel-body">

        <!--nom client-->
        <div class="col-sm-6">
          <div ng-form='subform_nomClient'>
            <div class="form-group" ng-class="{'has-error' : subform_nomClient.$invalid}">
              <label class="control-label" for="nomClient">Nom client</label>
              <input type="text"
                     class="form-control input-xs"
                     ng-model="vm.d.client.nom"
                     ng-change="vm.change()"
                     id="nomClient"
                     placeholder="nom client ..."
                     required>
            </div>
          </div>
        </div>

        <!--adresse client-->
        <div class="col-sm-6">
          <div ng-form='subform_adresseClient'>
            <div class="form-group" ng-class="{'has-error' : subform_adresseClient.$invalid}">
              <label class="control-label" for="adresseClient">Adresse client</label>
              <input type="text"
                     class="form-control input-xs"
                     ng-model="vm.d.client.adresse"
                     ng-change="vm.change()"
                     id="adresseClient"
                     placeholder="adresse client ..."
                     required>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
