<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          <span>Remise commerciale

  </span>
      </div>
      <div class="panel-body">

        <div class="col-sm-6">
          <div class="checkbox" style="margin: 2em 0 0 0;">
            <label class="control-label">
              <input type="checkbox"
                     id="pourcentageFlag"
                     ng-model="vm.d.remiseCommerciale.pourcentage">Pourcentage
            </label>
          </div>
        </div>

        <div class="col-sm-6">
          <div ng-form='subform_valeurRemiseCommerciale'>
            <div class="form-group" ng-class="{'has-error' : subform_valeurRemiseCommerciale.$invalid}">
              <label class="control-label" for="valeurRemiseCommerciale">Valeur</label>
              <input type="number"
                     class="form-control input-xs"
                     ng-model="vm.d.remiseCommerciale.valeur"
                     ng-change="vm.change()"
                     id="valeurRemiseCommerciale"
                     placeholder="RemiseCommerciale ..."
                     required>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
